IMAGE_NAME="philiptn/mkv-auto"
CONTAINER_NAME="mkv-auto-service"

HOST_FOLDER="/home/philip/mkv-auto-service"
INPUT_FOLDER="$HOST_FOLDER/input/"
OUTPUT_FOLDER="$HOST_FOLDER/output/"

TEMP_FOLDER="$HOST_FOLDER/.tmp/"
CONFIG_FOLDER="$HOST_FOLDER/config/"
LOGS_FOLDER="$HOST_FOLDER/logs/"
UID=$(id -u)
GID=$(id -g)

DEBUG_MODE=false  # Change to 'true' to enable debug mode