# For removing SDH (Deaf or Hard-of-Hearing) entries and other tags
# https://pypi.org/project/subtitle-filter/
subtitle-filter==1.5.0

# For progress bar support
# https://pypi.org/project/tqdm/
tqdm==4.67.1

# For parsing .ini files
# https://pypi.org/project/configparser/
configparser==7.1.0

# For converting Advanced SubStation Alpha (ASS/SSA) subtitle files to SRT
# https://pypi.org/project/asstosrt/
asstosrt==0.1.6

# For automatically resyncing SRT subtitles to the audio stream
# https://pypi.org/project/ffsubsync/
ffsubsync==0.4.27

# For removing all-uppercase letters in improperly formatted SDH subtitles
# https://pypi.org/project/pysrt/
pysrt==1.1.2

# Needed for unpacking archives
# https://pypi.org/project/rarfile/
rarfile==4.2

# For converting ISO 639-1 two-letter language codes to full country names
# https://pypi.org/project/pycountry/
pycountry==24.6.1

# For downloading external subtitles
# https://pypi.org/project/subliminal/
subliminal==2.2.1

# For calculating max OCR threads based on available system RAM
# https://pypi.org/project/psutil/
psutil==6.1.1