# For removing SDH (Deaf or Hard-of-Hearing) entries and other tags
# https://pypi.org/project/subtitle-filter/
subtitle-filter==1.4.6

# For progress bar support
# https://pypi.org/project/tqdm/
tqdm==4.65.0

# For parsing .ini files
# https://pypi.org/project/configparser/
configparser==5.3.0

# For converting Advanced SubStation Alpha (ASS/SSA) subtitle files to SRT
# https://pypi.org/project/asstosrt/
asstosrt==0.1.6

# For automatically resyncing SRT subtitles to the audio stream
# https://pypi.org/project/ffsubsync/
ffsubsync==0.4.25

# For removing all-uppercase letters in improperly formatted SDH subtitles
# https://pypi.org/project/pysrt/
pysrt==1.1.2

# Needed for unpacking archives
# https://pypi.org/project/rarfile/
rarfile==4.0